* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

#slideset1,
#slideset2 {
  height: 10em;
  position: relative;
  overflow: hidden;
  /*******************visibility***********************/
  /*******************TOP***********************/
}
#slideset1 > *,
#slideset2 > * {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  animation: 12s autoplay2 infinite ease-in-out;
}
#slideset1 > *:nth-child(1),
#slideset2 > *:nth-child(1) {
  animation-delay: 0s;
}
#slideset1 > *:nth-child(2),
#slideset2 > *:nth-child(2) {
  animation-delay: 4s;
}
#slideset1 > *:nth-child(3),
#slideset2 > *:nth-child(3) {
  animation-delay: 8s;
}

@keyframes autoplay1 {
  0% {
    visibility: visible;
  }
  33.33% {
    visibility: hidden;
  }
}
@keyframes autoplay2 {
  0% {
    top: 100%;
  }
  4% {
    top: 0%;
  }
  33.33% {
    top: 0%;
  }
  37.33% {
    top: -100%;
  }
  100% {
    top: -100%;
  }
}
/*******************Opacity***********************/
/****************25s*******************/
#slideset6 > * {
  animation: 25s autoplay6 infinite linear;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
#slideset6 > *:nth-child(1) {
  animation-delay: 0s;
}
#slideset6 > *:nth-child(2) {
  animation-delay: 5s;
}
#slideset6 > *:nth-child(3) {
  animation-delay: 10s;
}
#slideset6 > *:nth-child(4) {
  animation-delay: 15s;
}
#slideset6 > *:nth-child(5) {
  animation-delay: 20s;
}

@keyframes autoplay6 {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*******************Position***********************/
#slideset7 {
  background-color: yellow;
  height: 10em;
  width: 40vw;
  position: relative;
  overflow: hidden;
  border: 3px solid black;
}
#slideset7 > * {
  background-color: rgb(255, 85, 0);
  width: 100%;
  animation: 25s autoplay60 infinite linear;
  position: absolute;
  top: 0;
  left: -100%;
  transition: left 1s;
}
#slideset7 > *:nth-child(1) {
  animation-delay: 0s;
  left: -10%;
}
#slideset7 > *:nth-child(2) {
  animation-delay: 5s;
}
#slideset7 > *:nth-child(3) {
  animation-delay: 10s;
}
#slideset7 > *:nth-child(4) {
  animation-delay: 15s;
}
#slideset7 > *:nth-child(5) {
  animation-delay: 20s;
}

@keyframes autoplay7 {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*******************Z-index***********************/
#slideset5 {
  height: 10em;
  position: relative;
  background: white;
}

#slideset5 > * {
  animation: 12s autoplay5 infinite;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#slideset5 > *:nth-child(1) {
  animation-delay: 0s;
}

#slideset5 > *:nth-child(2) {
  animation-delay: 4s;
}

#slideset5 > *:nth-child(3) {
  animation-delay: 8s;
}

@keyframes autoplay5 {
  0% {
    z-index: 0;
  }
  33.32% {
    z-index: 0;
  }
  33.33% {
    z-index: -1;
  }
}
.stop > * {
  animation-play-state: paused;
}

button {
  margin-top: 15vh;
  background-color: rebeccapurple;
  padding: 5px;
  color: white;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */